/* Persistent */
@font-face {
    font-family: 'Square Sans Serif 7';
    src: url('SquareSansSerif7.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('SquareSansSerif7.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body {
 
    background: #f5f5f5;
}

.canvas{
    max-width: 1920px;
    margin: 3.125rem auto 0;
    margin-top: 0;
}

.video-container {
    position: relative;
    margin-bottom: 10px;
    
}

.mobile-video{
    display:none;
}

video{
    max-width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left:0;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: center;

}
.video-text-container{
    margin-top: 20%;
}
.video-text{
    color: white;
    font-family: "Square Sans Serif 7";
    font-size: 72px;
    text-align: center;
  }

.discover-button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #f5f5f5; /* Green */
    min-width:50%;
    min-height:55px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
    font-family:'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-left: 25%;
}

@media (min-width : 0px) and (max-width: 767px){
    
    .desktop-video{
        display: none;
    }
    .mobile-video{
        display: flex;
    }

    .video-text-container{
        margin-top: 50%;
    }

    .video-text{
        font-size: 28px;
    }

    .discover-button{
        font-size: 18px;
        margin-left: 20%;
    }

  
}
